.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#mycanvas
{
   border-width: 10px;
   background-color: white;
   border-style: ridge;
   background-image: url(BirthdayImage.jpg);
}
button
{
    width: 50;
    height: 100;
}
